*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: #f2f2f2;
}
h1{
    font-size: 120px;
   align-items: center;
   margin-left: 30%;
   color: rgba(255,255,255, .4);
}
.parallax-1{
    background: url('https://images.unsplash.com/photo-1620435363451-b84b06e6de72?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
}
.parallax-2{
    background: url('https://images.unsplash.com/photo-1619197250569-1d112d60d26b?q=80&w=2038&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
}
.parallax-3{
    background: url('https://images.unsplash.com/photo-1618385044176-e2100a381a37?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
}
.parallax-4{
    background: url('https://images.unsplash.com/photo-1547219469-75c19c0bd220?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
}

.parallax-inner{
    padding: 10% 0;

}
h2{
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}
p{
    font-size: 16px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}
p:nth-of-type(2),
p:nth-of-type(3){
    margin: 40px 50px;
}
@media (max-width:480px) {
    body,html{
       
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    h1{
        font-size: 50px;
       align-items: center;
       margin-left: 10%;
       color: rgba(255,255,255, .4);
    }
    .parallax-1{
        background: url('https://images.unsplash.com/photo-1620435363451-b84b06e6de72?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed ;
        
    }
    .parallax-2{
        background: url('https://plus.unsplash.com/premium_photo-1674929041876-8c58c0a3f772?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed ;
        
    }
    .parallax-3{
        background: url('https://images.unsplash.com/photo-1618385044176-e2100a381a37?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed ;
    }
    .parallax-4{
        background: url('https://images.unsplash.com/photo-1547219469-75c19c0bd220?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed ;
    }
    .parallax-inner{
        padding: 10% 0;
    
    }
    h2{
        font-size: 32px;
        color: #555;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 20px 0 10px;
    }
    p{
        font-size: 16px;
        color: #555;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 20px 0 10px;
    }
}